.HouseMarker-mainZone {
  display: inline;
  z-index: 2;
}

.HouseMarker-houseMarkerInner {
  display: inline-block;
  background-color: #ededed;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: 2px;
  top: 2px;
}

.HouseMarker-houseMarkerOuter {
  display: inline-block;
  position: relative;
  border: 2px solid #ededed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.HouseMarker-houseMarkerOuter.HouseMarker-houseMarkerHover {
  border: 2px solid #ffd800;
}

.HouseMarker-houseMarkerHover .HouseMarker-houseMarkerInner {
  background-color: #ffd800;
}
