.Layout-navbar {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 60px;
	z-index: 3;
}

.Layout-navbar > div {
	max-width: 1200px;
	margin: 0 auto;
}

.Layout-content {
	background-color: #232d38;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.Layout-navbar > div > a {
	display: inline-flex;
	height: 60px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #ffd800;
	font-size: 20px;
	font-weight: bold;
}

.Layout-navbar > div > a:hover {
	cursor: pointer;
}

.Layout-menuIcon {
	float: right;
	padding-right: 15px;
}

.Layout-menuIcon > img {
	height: 20px;
	width: 25px;
}

.Layout-logoIcon {
	float: right;
	padding: 0px 15px;
}

.Layout-logoIcon > img {
	width: 106px;
	height: 36px;

}

.Layout-menu {
	position: fixed;
	display: inline-block;
	right: -200px;
	top: 0;
	width: 200px;
	height: 100vh;
	transition: all 0.6s ease;
	background-color: #eeeeee;
	z-index: 2;
}

.Layout-menuHidden {
	right: 0;
}

.Layout-description {
	margin-top: 80px;
}

.Layout-description > ul {
	list-style-type: none;
	font-size: 33px;
	color: #b4b4b4;
	text-align: right;
	padding-right: 40px;
}

.Layout-menu hr {
	margin: 0 20px 0 20px;
}

.Layout-text {
	margin: 37px 0 30px 115px;
	font-size: 20px;
	color: #b4b4b4;
}

.Layout-form {
	text-align: center;
}

.Layout-form select {
	display: block;
	height: 40px;
	width: 100px;
	margin: 0 0 30px 60px;
	font-size: 16px;
	border: none;
	text-align-last: center;
}
