.navbar {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 60px;
	background-color: white;
	border-bottom: 1px solid blue;
}

.content {
	margin-top: 60px;
}

.navbar > a {
	display: inline-flex;
	height: 60px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: black;
}
