.navbar {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 60px;
	// background-color: #232d38;
	z-index: 3;
}

.navbar > div {
	max-width: 1200px;
	margin: 0 auto;
}

.content {
	background-color: #232d38;
	width: 100%;
	// height: 600px;

	// margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
}

.navbar > div > a {
	display: inline-flex;
	height: 60px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #ffd800;
	font-size: 20px;
	font-weight: bold;
}

.navbar > div > a:hover {
	cursor: pointer;
}

.menuIcon {
	float: right;
	padding-right: 15px;
}

.menuIcon > img {
	height: 20px;
	width: 25px;
}

.logoIcon {
	float: right;
	padding: 0px 15px;
}

.logoIcon > img {
	width: 106px;
	height: 36px;
	
}

.menu {
	position: fixed;
	display: inline-block;
	right: 0;
	top: 0;
	width: 250px;
	height: 100vh;
	transition: all 0.6s ease;
	background-color: #ededed;
	z-index: 2;
}

.menuHidden {
	position: fixed;
	display: inline-block;
	right: -250px;
	top: 0;
	width: 250px;
	height: 100vh;
	background-color: #ededed;
	transition: all 0.6s ease;
}
