.home {
	max-width: 1200px;
	text-align: center;
	padding: 100px;
	height: 100vh;
	// margin: auto;
}

.logo img {
	width: 360px;
}


.form {
	width: 450px;
	height: 200px;
	border-radius: 15px;
	background: #ededed;
	display: inline-flex;
	position: relative;
	margin-top: 30px;
	transform: translate(0%, 0%);
}

.leftForm {
	position: absolute;
	top: 0;
	left: 5%;
	display: inline-flex;
	width: 40%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.leftForm select {
	display: block;
	font-size: 15px;
	height: 40px;
	width: 100px;
	text-align: right;
	margin-bottom: 10px;
	border: none;
}

.rightForm {
	position: absolute;
	top: 0;
	right: 5%;
	display: inline-flex;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
	// flex-direction: column;
}

.rightForm > div {
	height: 45%;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.text {
	margin-left: 100px;
	margin-top: 40px;
	color: #c1c1c1;
	margin-right: 25px;
}

.search {
	position: absolute;
	right: -30px;
	top: 120px;
}

.search img {
	width: 60px;
	height: 60px;
}

.search a {
	cursor: pointer;
}
