.mainZone {
	display: inline-block;
	position: relative;
}

.card {
	display: inline-block;
	position: relative;
	background-color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	top: 0;
	margin-left: 10px;
	transition: top 1s, height 1s;
	height: 60px;
	width: 200px;
	cursor: pointer;
}

.card.cardPop {
	top: -210px;
	height: 380px;
}

.titleZone {
	height: 60px;
	overflow: hidden;
}

.priceWord {
	display: inline-block;
	line-height: 60px;
	background-color: white;
	border-top-left-radius: 10px;
	width: 135px;
	text-align: left;
	padding-left: 10px;
	color: black;
	font-size: 2.5em;
	border-right: 1px solid #DEDEDE;
}

.priceWord > small {
	font-size: 50%;
}

.areaWord {
	display: inline-block;
	line-height: 60px;
	border-top-right-radius: 10px;
	background-color: white;
	width: 64px;
	text-align: center;
	color: black;
	font-size: 2em;
}

.areaWord > small {
	font-size: 70%;
}

.detailZone {
	width: 200px;
	height: 240px;
	background-color: #232d38;
	color: black;
	padding: 0px 15px;
	// z-index: 2;
}

.addressWord {
	font-size: 2em;
	display: inline-block;
	width: 170px;
	color: white;
	white-space:normal;
	margin-top: 15px;
}

.tagWordsZone {
	margin-top: 15px;
}

.tagWord {
	font-size: 2em;
	display: inline-block;
	background-color: yellow;
	padding: 0px 10px;
	background-color: #ffd800;
	border-radius: 10px;
	margin-bottom: 10px;
}

.barZone {
	position: relative;
	height: 30px;
}

.barWord {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 1px;
	font-size: 0.05em;
	color: white;
}

.bar {
	display: inline-block;
	position: absolute;
	top: 15px;
	width: 170px;
	height: 12px;
	border-radius: 10px;
	background-color: white;
}

.barFill {
	display: inline-block;
	position: absolute;
	top: 15px;
	height: 12px;
	border-radius: 10px;
	background-color: #ffd800;
	z-index: 2;
}

